<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Auth via env vars:
       NuGetPackageSourceCredentials_Artifactory=Username=...;Password=...;ValidAuthenticationTypes=Basic
       NuGetPackageSourceCredentials_ArtifactoryLGD=Username=...;Password=...;ValidAuthenticationTypes=Basic -->
  <packageSources>
    <add key="nuget.org"       value="https://api.nuget.org/v3/index.json" />
    <add key="Artifactory"     value="https://tylertech.jfrog.io/artifactory/api/nuget/v3/nuget/index.json" />
    <add key="ArtifactoryLGD"  value="https://tylertech.jfrog.io/artifactory/api/nuget/v3/lgd-nuget-local/index.json" allowInsecureConnections="True" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Artifactory">
      <package pattern="Tyler.*" />
      <package pattern="TylerForge*" />
      <package pattern="Traversa.*" />
    </packageSource>
    <packageSource key="ArtifactoryLGD">
      <package pattern="TylerTechnologies.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
